.tablecom {
  > tbody {
    > tr:first-child {
      th {
        border-top: none;
      }
    }

    > tr {
      > th,
      > td {
        padding: 0;
        height: 60px;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
        }
        &.row {
          margin: 0;
        }
      }
    }
  }
}
