.tablecom {
  > tbody {
    > tr:first-child {
      th {
        border-top: none;
      }
    }

    > tr {
      > th,
      > td {
        padding: 0;
        height: 60px;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          > input {
            border: none;
            border-radius: 5px;
            height: 35px;
            background-color: var(--app-dark-white);
            font-weight: 300;
            padding-left: 5px;

            &:focus {
              outline: none;
            }
          }
        }
        &.row {
          margin: 0;
        }
      }
    }
  }
}
