@import "node_modules/bootstrap/scss/bootstrap";

:root {
  --app-dark-white: #f1f0f5;
  --app-white: #ffffff;
  --app-border-color-dark-white: #cbcace;
  --app-strong-cyan: #13c4d1;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
}

p {
  margin: 0;
}
